altgraph==0.17.3
async-timeout==4.0.2
Babel==2.11.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
clr-loader==0.2.4
contourpy==1.0.5
cycler==0.11.0
docopt==0.6.2
fonttools==4.38.0
fpdf==1.7.2
google==3.0.0
idna==3.4
kiwisolver==1.4.4
matplotlib==3.6.1
numpy==1.23.4
oauthlib==3.2.2
packaging==21.3
pandas==1.5.1
pefile==2023.2.7
Pillow==9.2.0
pipreqs==0.4.13
proxy-tools==0.1.0
pycparser==2.21
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pyparsing==3.0.9
pyperclip==1.8.2
python-dateutil==2.8.2
python3-discogs-client==2.6
pythonnet==3.0.1
pytz==2022.5
pywebview==3.7.2
pywin32-ctypes==0.2.0
redis==4.6.0
requests==2.30.0
six==1.16.0
soupsieve==2.3.2.post1
spotipy==2.23.0
tkcalendar==1.6.1
ttkwidgets==0.12.1
urllib3==2.0.2
yarg==0.1.9
